@import '../constants.scss';

.heading {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 1.75em;

  @media screen and (max-width: $tablet) {
    font-size: 1.5em;
  }
}

.inner {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
}

.grid {
  position: relative;
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
  }

  gap: 16px;
}

.accountData {
  margin-top: 5vh;
  margin-bottom: 5vh;

  .mute {
    opacity: 0.5;
    margin: 0;
    font-size: 0.8em;
  }
}