.heading {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.75em;
}

.inner {
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-direction: column;
}

.grid {
  position: relative;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 16px;
}