@import '../constants.scss';

.container {
  content-visibility: auto;
  contain-intrinsic-size: 1px 5000px;
}

.tabHeader {
  display: flex;
  justify-content: space-between;

  .actions {
    display: flex;

    @media screen and (max-width: $mobile) {
      margin-left: 16px;
    }

    & > * {
      margin: auto;
    }
  }
}

.channelCard {
  position: relative;
  width: 100%;

  min-height: 18vh;
  display: flex;

  .member {
    display: flex;
  }

  .name {
    white-space: nowrap;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin: auto;

    @media screen and (max-width: $tablet) {
      font-size: 1.5em;
    }

    @media screen and (max-width: $mobile) {
      margin: 0;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1.25em;
    }
  }

  .image {
    border-radius: 50%;
    overflow: hidden;

    isolation: isolate;

    width: 75px;
    height: 75px;
    margin-right: 16px;

    @media screen and (max-width: $mobile) {
      width: 55px;
      height: 55px;
    }
  }

  .contents {
    margin-top: auto;
    margin-bottom: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  .text {
    position: absolute;
    width: 100%;
    margin-top: 6px;
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    letter-spacing: -0.5px;
    color: #999;
    padding-left: 4px;
    padding-right: 4px;

    & > * {
      margin: 0;
    }
  }
}

.progress {
  margin: auto;
  width: 100%;
  position: relative;

  max-width: 70%;
  margin-right: 0;

  @media screen and (max-width: $mobile) {
    max-width: 100%;
    margin-bottom: 20px;
  }
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  padding-bottom: 20vh;
}

.empty {
  display: flex;
  flex-direction: column;
  margin-bottom: 30vh;

  .contents {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .image {
    position: relative;
    min-width: 150px;
    min-height: 150px;
    margin: auto;
  }

  h3 {
    margin: auto;
    margin-top: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    font-size: 1.25em;
  }
}

.tanoshii {
  background: #f00;
  color: rgb(255, 255, 255);
  font-weight: 300;
  letter-spacing: 1px;
  padding: 12px 32px;
  border-radius: 50%;
  font-family: 'Gulim', '굴림';
}
