@import '../constants.scss';

.tabHeader {
  display: flex;
  justify-content: space-between;

  .actions {
    display: flex;

    @media screen and (max-width: $mobile) {
      margin-left: 16px;
    }

    & > * {
      margin: auto;
    }
  }
}

.channelCard {
  position: relative;
  width: 100%;

  min-height: 18vh;
  display: flex;

  .member {
    display: flex;
  }

  .name {
    white-space: nowrap;
    font-size: 1.75em;
    font-weight: bold;
    letter-spacing: -1px;
    margin: auto;

    @media screen and (max-width: $tablet) {
      font-size: 1.5em;
    }

    @media screen and (max-width: $mobile) {
      font-size: 1.25em;
    }
  }

  .image {
    border-radius: 50%;
    overflow: hidden;

    width: 75px;
    height: 75px;
    margin-right: 16px;


    @media screen and (max-width: $mobile) {
      width: 55px;
      height: 55px;
    }
  }

  .contents {
    margin-top: auto;
    margin-bottom: 32px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 32px;
  }
}

.progress {
  margin: auto;
  width: 100%;

  max-width: 70%;
  margin-right: 0;
}

.lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
  padding-bottom: 20vh;
}

.empty {
  display: flex;
  flex-direction: column;
  margin-bottom: 30vh;

  .contents {
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .image {
    position: relative;
    min-width: 150px;
    min-height: 150px;
    margin: auto;
  }

  h3 {
    margin: auto;
    margin-top: 16px;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 1.25em;
  }
}

.tanoshii {
  background: #f00;
  color: rgb(255, 255, 255);
  font-weight: 300;
  letter-spacing: 1px;
  padding: 12px 32px;
  border-radius: 50%;
  font-family: 'Gulim', '굴림';
}