@import '../constants.scss';

.heading {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.75em;

  @media screen and (max-width: $tablet) {
    font-size: 1.5em;
  }

  h1 {
    margin: 0;
  }

  .logo {
    display: flex;
    color: #147E6B;

    margin-top: 4px;

    & > span:first-child {
      margin-right: 8px !important;
    }

    span {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.main {
  position: relative;

  height: 80vh;
  display: flex;

  .contents {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.title {
  font-weight: bold;
  font-size: 2em;
  letter-spacing: -1px;
}

.description {
  font-weight: normal;
  font-size: 1.25em;
  letter-spacing: -1px;
}