@import '../constants.scss';

.heading {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.75em;

  @media screen and (max-width: $tablet) {
    font-size: 1.5em;
  }

  h1 {
    margin: 0;
  }

  .logo {
    display: flex;
    color: #73a30e;

    margin-top: 4px;
    margin-bottom: 4px;

    svg {
      margin-right: 8px;
    }

    span {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.inner {
  margin-top: auto;
  margin-bottom: auto;
}

.channels {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;

  padding-bottom: 20vh;
  user-select: none;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

a .card {
  width: 100%;
}

html[data-dark-mode='true'] {
  .card {
    &[data-id='wakgood'] {
      background: #3f321f;
    }

    &[data-id='waktaverse'] {
      background: #1c3832;
    }

    &[data-id='ine'] {
      background: #3B2C42;
    }

    &[data-id='jingburger'] {
      background: #3b371e;
    }

    &[data-id='lilpa'] {
      background: #28233a;
    }

    &[data-id='jururu'] {
      background: #3f2525;
    }

    &[data-id='gosegu'] {
      background: #283639;
    }

    &[data-id='viichan'] {
      background: #293a1c;
    }
  }
}

.card {
  position: relative;
  display: inline-flex;
  background: #f5f5f5;
  cursor: pointer;
  user-select: none;

  &[data-id='wakgood'] {
    background: #fcf2e3;
  }

  &[data-id='waktaverse'] {
    background: #d5e9e4;
  }

  &[data-id='ine'] {
    background: #f4ecf8;
  }

  &[data-id='jingburger'] {
    background: #fff8de;
  }

  &[data-id='lilpa'] {
    background: #d8d4dd;
  }

  &[data-id='jururu'] {
    background: #f6e4e5;
  }

  &[data-id='gosegu'] {
    background: #e5f6fb;
  }

  &[data-id='viichan'] {
    background: #eef1e4;
  }

  padding: 48px 32px;
  border-radius: 16px;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    content: ' ';
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);

    left: 0;
    top: 0;

    transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
  }

  transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus {
    transform: scale(1.02);

    &::before {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.98);

    &::before {
      opacity: 0;
    }
  }

  .cardContents {
    margin: auto;
  }

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    margin: auto;

    @media screen and (max-width: $mobile) {
      width: 20vw;
      height: 20vw;
    }

    img {
      border-radius: 50%;
    }
  }

  .name {
    display: flex;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
    margin-top: 16px;

    @media screen and (max-width: $tablet) {
      font-size: 0.9em;
    }

    p {
      margin: auto;
    }
  }
}

.privacy {
  letter-spacing: -1px;
  padding-bottom: 20vh;
  font-size: 1.2em;

  a {
    color: rgb(15, 116, 218);
  }
}