@import '../constants.scss';
@import '../colors.scss';

.heading {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;

  font-weight: bold;
  letter-spacing: -0.5px;
  font-size: 1.75em;

  @media screen and (max-width: $tablet) {
    font-size: 1.5em;
  }

  h1 {
    margin: 0;
  }

  .logo {
    display: flex;
    color: #73a30e;

    margin-top: 4px;
    margin-bottom: 4px;

    svg {
      margin-right: 8px;
    }

    span {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

.inner {
  margin-top: auto;
  margin-bottom: auto;
}

.channels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;

  user-select: none;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

a .card {
  width: 100%;
}

html[data-dark-mode='true'] {
  .card {
    &[data-id] {
      background: #242629;
    }

    &[data-id='wakgood'] {
      background: #3f321f;
    }

    &[data-id='waktaverse'] {
      background: #1c3832;
    }

    &[data-id='ine'] {
      background: #3b2c42;
    }

    &[data-id='jingburger'] {
      background: #3b371e;
    }

    &[data-id='lilpa'] {
      background: #28233a;
    }

    &[data-id='jururu'] {
      background: #3f2525;
    }

    &[data-id='gosegu'] {
      background: #283639;
    }

    &[data-id='viichan'] {
      background: #293a1c;
    }
  }

  .privacy {
    color: $dark-text-color;
  }
}

.card {
  position: relative;
  display: inline-flex;
  background: #f5f5f5;
  cursor: pointer;
  user-select: none;

  &[data-id='wakgood'] {
    background: #f8f1e7;
  }

  &[data-id='waktaverse'] {
    background: #e5f8f3;
  }

  &[data-id='ine'] {
    background: #f2eaf7;
  }

  &[data-id='jingburger'] {
    background: #fff8de;
  }

  &[data-id='lilpa'] {
    background: #ebe7f1;
  }

  &[data-id='jururu'] {
    background: #f3dddd;
  }

  &[data-id='gosegu'] {
    background: #e6f5fa;
  }

  &[data-id='viichan'] {
    background: #f5f8ea;
  }

  padding: 48px 32px;
  border-radius: 16px;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    content: ' ';
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.06);

    left: 0;
    top: 0;

    transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
  }

  transition: 0.23s transform cubic-bezier(0.19, 1, 0.22, 1);

  &:hover,
  &:focus {
    transform: scale(1.02);

    &::before {
      opacity: 1;
    }
  }

  &:active {
    transform: scale(0.98);

    &::before {
      opacity: 0;
    }
  }

  .cardContents {
    margin: auto;
  }

  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;

    margin: auto;

    @media screen and (max-width: $mobile) {
      width: 20vw;
      height: 20vw;
    }

    img {
      border-radius: 50%;
    }
  }

  .name {
    display: flex;
    font-weight: bold;
    letter-spacing: -0.5px;
    text-align: center;
    margin-top: 32px;

    @media screen and (max-width: $tablet) {
      font-size: 0.9em;
    }

    p {
      margin: auto;
    }
  }
}

.privacy {
  h1,
  h2,
  h3 {
    letter-spacing: -0.5px;
    word-break: break-word;
  }

  line-height: 160%;

  @media screen and (max-width: $tablet) {
    font-size: 0.95em;
  }

  @media screen and (max-width: $mobile) {
    font-size: 0.9em;
  }

  letter-spacing: -0.3px;
  padding-bottom: 20vh;

  a {
    color: $link-color;
  }
}

.mine {
  margin-top: 10vh;
  margin-bottom: 20vh;

  > h2 {
    margin-bottom: 2em;
  }
}

.memberName {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 32px;
}

.member {
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: var(--background);
  border-radius: 16px;

  padding: 16px 16px;

  .colorWrapper {
    display: flex;
    width: 100%;
    gap: 16px;
  }

  .color {
    min-width: 100px;
    min-height: 50px;
    border-radius: 16px;
    display: flex;
    flex: 1;
    gap: 4px;

    .default {
      position: relative;
      flex: 1;

      border-radius: 16px;

      color: var(--color-on);
      background-color: var(--color);
    }

    .invert {
      position: relative;
      flex: 1;

      border-radius: 16px;

      color: var(--color);
      background-color: var(--color-on);
    }

    span {
      display: inline-block;

      margin-left: 12px;
      margin-top: 8px;

      font-weight: bold;
      letter-spacing: -0.3px;
    }
  }

  .container {
    display: flex;
  }
}
