@import "../constants.scss";

$primary: #35a5f0;
$dark-primary: #0c455c;

$secondary: #f1f5f7;
$dark-secondary: #353b3f;

html[data-dark-mode='true'] {
  .button {
    &.primary {
      background-color: var(--color-primary, $dark-primary);
      color: var(--color-on-primary, white);

      .ripple {
        background: var(--color-primary, $dark-primary);
      }
    }

    &.secondary {
      background-color: var(--color-on-secondary, $dark-secondary);
      color: var(--color-secondary, white);

      .ripple {
        background: var(--color-on-secondary, $dark-secondary);
      }
    }
  }
}

@keyframes rippleAnimation {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.button {
  position: relative;
  display: inline-flex;
  white-space: nowrap;

  padding: 6px 12px;
  border-radius: var(--round, 0);
  cursor: pointer;
  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;

  .rippleContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 16px;
    overflow: hidden;
  }

  .ripple {
    position: absolute;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;

    animation: rippleAnimation 900ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-origin: center;
    opacity: 0;

    width: 100%;
    aspect-ratio: 1 / 1;
  }

  @media screen and (max-width: $tablet) {
    font-size: 0.95em;
  }

  @media screen and (max-width: $mobile) {
    font-size: 0.9em;
  }

  .icon {
    margin-right: 6px;
  }

  &.large {
    padding: 12px 42px;

    @media screen and (max-width: $tablet) {
      padding: 10px 36px;
    }
  
    @media screen and (max-width: $mobile) {
      padding: 8px 30px;
    }
  }

  &.medium {
    padding: 8px 32px;

    @media screen and (max-width: $tablet) {
      padding: 8px 30px;
    }
  
    @media screen and (max-width: $mobile) {
      padding: 8px 28px;
    }
  }

  &.small {
    padding: 6px 12px;
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.primary {
    background-color: var(--color-primary, $primary);
    color: var(--color-on-primary, #fff);

    &:not(.disabled) {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    .ripple {
      background: var(--color-primary, $primary);
    }
  }

  &.secondary {
    background-color: var(--color-on-secondary, $secondary);
    color: var(--color-secondary, #000);

    &:not(.disabled) {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }

    .ripple {
      background: var(--color-on-secondary, $secondary);
    }
  }

  font-weight: normal;
  letter-spacing: -1px;
}
