$primary: #35a5f0;
$dark-primary: #0c455c;

$secondary: #f1f5f7;
$dark-secondary: #353b3f;

html[data-dark-mode='true'] {
  .button {
    &.primary {
      background-color: var(--color-primary, $dark-primary);
      color: var(--color-on-primary, white);
    }

    &.secondary {
      background-color: var(--color-on-secondary, $dark-secondary);
      color: var(--color-secondary, white);
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  white-space: nowrap;

  padding: 6px 12px;
  border-radius: var(--round, 0);
  cursor: pointer;
  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;

  .icon {
    margin-right: 6px;
  }

  &.large {
    padding: 12px 42px;
  }

  &.medium {
    padding: 8px 32px;
  }

  &.small {
    padding: 6px 12px;
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.primary {
    background-color: var(--color-primary, $primary);
    color: var(--color-on-primary, #fff);

    &:not(.disabled) {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  &.secondary {
    background-color: var(--color-on-secondary, $secondary);
    color: var(--color-secondary, #000);

    &:not(.disabled) {
      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }

  font-weight: normal;
  letter-spacing: -1px;
}
