$primary: #22a7f2;
$dark-primary: #10637c;

$secondary: #f1f5f7;
$dark-secondary: #353b3f;

html[data-dark-mode='true'] {
  .button {
    &.primary {
      background-color: $dark-primary;
      color: white;

      &:not(.disabled) {
        &:hover {
          background-color: darken($dark-primary, 5%);
        }

        &:active {
          background-color: darken($dark-primary, 10%);
        }
      }
    }

    &.secondary {
      background-color: $dark-secondary;
      color: white;

      &:not(.disabled) {
        &:hover {
          background-color: darken($dark-secondary, 5%);
        }

        &:active {
          background-color: darken($dark-secondary, 10%);
        }
      }
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  white-space: nowrap;

  padding: 6px 12px;
  border-radius: var(--round, 0);
  cursor: pointer;
  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  user-select: none;

  &.large {
    padding: 12px 42px;
  }

  &.medium {
    padding: 8px 32px;
  }

  &.small {
    padding: 6px 12px;
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.primary {
    background-color: $primary;
    color: #fff;

    &:not(.disabled) {
      &:hover {
        background-color: darken($primary, 5%);
      }

      &:active {
        background-color: darken($primary, 10%);
      }
    }
  }

  &.secondary {
    background-color: $secondary;
    color: black;

    &:not(.disabled) {
      &:hover {
        background-color: darken($secondary, 5%);
      }

      &:active {
        background-color: darken($secondary, 10%);
      }
    }
  }

  font-weight: bold;
  letter-spacing: -1px;
}
