@import '../constants.scss';

.captionPreview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  &[data-closing='true'] {
    pointer-events: none;
  }

  display: flex;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);

  cursor: pointer;

  display: flex;
}

.popup {
  width: 90%;
  min-height: 80%;
  margin: auto;
  position: relative;
  z-index: 1100;
  overflow: hidden;

  border-radius: 16px;

  display: flex;
  gap: 16px;

  iframe {
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    aspect-ratio: 16 / 9;
  }

  & > div:first-child {
    position: relative;
    display: flex;
    flex: 1.5;
    aspect-ratio: 16 / 9;
  }

  .frame {
    position: relative;
    display: flex;
    border-radius: 16px;

    flex: 1;
    height: 80vh;

    overflow: auto;

    background: var(--color-surface, #fff);
    color: var(--color-on-surface, #000);
  }

  .caption {
    position: relative;
    border-radius: 16px;

    flex-direction: column;
    padding: 16px 32px;

    .title {
      position: relative;
      font-weight: bold;
      font-size: 1.5em;
      letter-spacing: -1px;
    }

    .lines {
      display: flex;
      flex-direction: column;
      gap: 8px;

      padding-bottom: 10vh;
    }

    .line {
      display: flex;
      gap: 8px;
      transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1),
        0.23s color cubic-bezier(0.19, 1, 0.22, 1);
      cursor: pointer;
      border-radius: 8px;
      padding: 4px 4px;

      &[data-active='true'] {
        .time {
          background: var(--color-primary, #fff);
          color: var(--color-on-primary, #000);
        }

        .text {
          color: var(--color-primary, #000);
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.23);
      }

      .time {
        transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1),
          0.23s color cubic-bezier(0.19, 1, 0.22, 1);

        background: var(--color-surface-variant, #fff);
        color: var(--color-on-surface-variant, #000);
        padding: 6px 12px;

        border-radius: 16px;
        font-family: monospace;
        white-space: nowrap;

        text-align: center;
        vertical-align: middle;
      }

      .text {
        transition: 0.23s color cubic-bezier(0.19, 1, 0.22, 1);

        margin-top: auto;
        margin-bottom: auto;
        letter-spacing: -1px;
      }
    }
  }
}

.error {
  position: relative;
  height: fit-content;

  padding: 16px 32px;
  background-color: var(--color-error);
  color: var(--color-on-error);

  border-radius: 16px;
}