.checkbox {
  position: relative;

  input {
    display: none;
  }

  input:checked + .toggle {
    background-color: rgb(86, 179, 241);
  }

  input:checked + .toggle > .slider {
    transform: translateX(28px);
  }
}

.toggle {
  cursor: pointer;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgb(190, 190, 190);
  width: 60px;
  height: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.slider {
  width: 26px;
  height: 26px;
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
  margin: 3px;
  transition: 0.23s all cubic-bezier(0.19, 1, 0.22, 1);
}
