@import "../constants.scss";

.popupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  &[data-closing='true'] {
    pointer-events: none;
  }

  display: flex;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
}

html[data-dark-mode='true'] {
  .background {
    background: rgba(0, 0, 0, 0.4);
  }

  // .popup {
  //   background: $dark-shades-1;
  //   box-shadow: unset;
  // }

  .statusPage {
    a {
      color: var(--color-primary, $dark-link-color);
    }
  }
}

.popup {
  width: 90%;
  max-width: 800px;
  height: 470px;
  margin: auto;
  position: relative;
  z-index: 1100;
  overflow: hidden;

  background: var(--color-surface, #fff);
  color: var(--color-on-surface, #fff);
  border-radius: 16px;

  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);

  @media screen and (max-width: $tablet) {
    font-size: 0.95em;
  }

  @media screen and (max-width: $mobile) {
    font-size: 0.9em;
  }
}

.thumbnails {
  display: flex;
  gap: 16px;
  margin-top: 15%;
  justify-content: space-between;

  &[data-size='5'] {
    .thumbnail {
      &:nth-child(1) {
        transform: translateX(66%) scale(1);
        z-index: 98;

        img {
          opacity: 0.4;
        }
      }

      &:nth-child(2) {
        transform: translateX(33%) scale(1.5);
        z-index: 99;

        img {
          opacity: 0.8;
        }
      }

      &:nth-child(3) {
        transform: translateX(0px) scale(2);
        z-index: 100;
      }

      &:nth-child(4) {
        transform: translateX(-33%) scale(1.5);
        z-index: 99;

        img {
          opacity: 0.8;
        }
      }

      &:nth-child(5) {
        transform: translateX(-66%) scale(1);
        z-index: 98;

        img {
          opacity: 0.4;
        }
      }
    }
  }

  &[data-size='4'] {
    .thumbnail {
      &:nth-child(1) {
        transform: translateX(75%) scale(1.5);
        z-index: 100;
      }

      &:nth-child(2) {
        transform: translateX(50%) scale(1.35);
        z-index: 99;

        img {
          opacity: 0.6;
        }
      }

      &:nth-child(3) {
        transform: translateX(15%) scale(1.15);
        z-index: 98;

        img {
          opacity: 0.3;
        }
      }

      &:nth-child(4) {
        transform: translateX(-45%) scale(1);
        z-index: 97;

        img {
          opacity: 0.1;
        }
      }
    }
  }

  &[data-size='3'] {
    .thumbnail {
      &:nth-child(1) {
        transform: translateX(50%) scale(1);
        z-index: 99;
      }

      &:nth-child(2) {
        transform: translateX(0%) scale(1.5);
        z-index: 100;
      }

      &:nth-child(3) {
        transform: translateX(-50%) scale(1);
        z-index: 98;
      }
    }
  }

  &[data-size='2'] {
    .thumbnail {
      &:nth-child(1) {
        margin-left: auto;
      }

      &:nth-child(2) {
        margin-right: auto;
      }
    }
  }

  &[data-size='1'] {
    .thumbnail {
      &:nth-child(1) {
        transform: translateX(0%) scale(1.5);
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .thumbnail {
    position: relative;
    width: 200px;
    aspect-ratio: 16 / 9;
    border-radius: 4px;
    overflow: hidden;

    background: #fff;
  }
}

.actions {
  margin-top: 16px;
  justify-content: center;
  width: 100%;
  display: flex;

  & > div:first-child {
    margin-left: auto;
    margin-right: 16px;
  }

  & > div:last-child {
    margin-right: auto;
  }
}

.tab {
  position: absolute;
  width: 100%;

  @media screen and (max-width: $tablet) {
    width: 80%;
    left: 10%;
  }
}

.contents {
  position: relative;
}

.title {
  text-align: center;
  margin-top: 80px;
  letter-spacing: -1px;
  font-size: 1.5em;
  font-weight: 500;
  word-break: keep-all;

  @media screen and (max-width: $tablet) {
    font-size: 1.3em;
  }

  @media screen and (max-width: $mobile) {
    font-size: 1.25em;
  }
}

@keyframes stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

.onProgress {
  .workingThumbnail {
    position: relative;
    width: 300px;
    aspect-ratio: 16 / 9;
    border-radius: 16px;
    overflow: hidden;

    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    margin-top: 40px;
  }

  .progressText {
    opacity: 0.5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .progressBar {
    position: absolute;
    z-index: 1;
    background-size: 30px 30px;
    background-image: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0.15) 75%,
      transparent 75%,
      transparent
    );

    animation: stripes 2s linear infinite;

    .bar {
      background: #0a8af3;
      height: 100%;
      position: absolute;
      transition: 0.5s width cubic-bezier(0.19, 1, 0.22, 1);
    }

    width: 100%;
    height: 10px;
  }

  .spinner {
    div {
      width: 16px;
      height: 16px;
    }
  }
}

.statusTab {
  .center {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }

  .title {
    margin-bottom: 0px;
  }

  .description {
    opacity: 0.5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: var(--color-primary, $link-color);
  }

  .actions {
    margin-top: 10px;
  }

  .warn {
    background-color: var(--color-tertiary, $link-color);
    color: var(--color-on-tertiary, $link-color);
    margin-left: auto;
    margin-right: auto;
    padding: 42px 32px;
    text-align: center;
    letter-spacing: -0.5px;
    height: 150px;
    width: 100%;

    margin-top: 48px;
  }
}
