@import '../constants.scss';

html[data-dark-mode='true'] {
  .settingCard {
    background-color: $dark-shades-1;
  }
}

.settingCard {
  min-width: 200px;
  min-height: 200px;
  border-radius: 16px;
  padding: 32px 16px;

  @media screen and (max-width: $tablet) {
    font-size: 0.95em;
  }

  @media screen and (max-width: $mobile) {
    font-size: 0.9em;
  }

  a {
    color: rgb(0, 110, 255);
  }

  background-color: #f5f5f5;
  display: flex;

  .contents {
    display: flex;
    flex-direction: column;

    .value {
      margin-left: auto;
      margin-right: auto;
    }

    position: relative;
    margin: auto;
    text-align: center;

    h3,
    p {
      margin: 0;
      letter-spacing: -1px;
    }

    .title {
      font-size: 1.25em;
      font-weight: 500;
      margin-top: 16px;
      margin-bottom: 4px;
    }

    .description {
      font-size: 1em;
    }
  }
}
