.tabButton {
  position: relative;
  padding: 12px 36px;
  font-weight: normal;
  font-size: 1.05em;
  letter-spacing: -1px;
  border-radius: 4px;
  cursor: pointer;

  color: #666;

  &::before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #000;

    transition: 0.1s opacity cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
  }

  &[data-active="true"] {
    color: #000;

    &::before {
      opacity: 1;
    }
  }
}

.ghostButton {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 16px;
  width: var(--width, 50px);
  transform: translateX(var(--left, 0px));
  background: rgba(0,0,0,0.06);
  pointer-events: none;

  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;

  &[data-visible="true"] {
    opacity: 1;
  }
}

.tabGroup {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;

  .buttons {
    display: flex;
  }
}

.tabGroupBorder {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: 30px;
  width: var(--width, 50px);
  transform: translateX(var(--left, 0px));

  border-bottom: 3px solid #000;
}