@import "../constants.scss";

html[data-dark-mode='true'] {
  .tabButton {
    &::before {
      border-bottom: 3px solid var(--color-primary, #fff);
    }

    &[data-active='true'] {
      color: var(--color-primary, #fff)
    }
  }

  .ghostButton {
    opacity: 0.16;
    background:var(--color-primary, rgb(230, 230, 230));
  }
}

.tabButton {
  position: relative;
  padding: 12px 36px;
  font-weight: normal;
  font-size: 1.05em;
  letter-spacing: -1px;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;

  @media screen and (max-width: $mobile) {
    font-size: 0.95em;
    padding: 8px 24px;
  }

  color: var(--color-surface-variant-on, #999);

  &::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid var(--color-primary, #000);

    transition: 0.1s opacity cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
  }

  &[data-active='true'] {
    color: var(--color-primary, #000);

    &::before {
      opacity: 1;
    }
  }

  &[data-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.32;
  }
}

.ghostButton {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 16px;
  width: var(--width, 50px);
  transform: translateX(var(--left, 0px));
  background: var(--color-primary, #000);
  pointer-events: none;

  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;

  &[data-visible='true'] {
    opacity: 0.06;
  }
}

.tabGroup {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;

  .buttons {
    display: flex;
  }
}
