html[data-dark-mode="true"] {
  .videoCard {
    .thumbnail {
      background-color: #282a2b;
    }
  }

  .captionCard {
    background-color: #1B242C;
  }

  .status {
    background-color: #353c47;

    &[data-status='waiting'] {
      background-color: rgb(8, 97, 42);
      color: white;
    }

    &[data-status='done'] {
      background-color: rgb(8, 55, 109);
      color: white;
      opacity: 0.3;
    }
  }

  .help {
    svg {
      fill: white;
    }

    background-color: #2d4658;
  }
} 

.videoCard {
  position: relative;
  width: 100%;
  display: flex;
  padding: 24px 36px;
  border-radius: 16px;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .thumbnail {
    position: relative;
    aspect-ratio: 16 / 9;

    overflow: hidden;
    border-radius: 16px;

    width: 250px;
    color: transparent;

    background-color: #cfcfcf;
  }

  .metadata {
    margin: auto;
    margin-left: 32px;
    letter-spacing: -1px;
  }

  .title {
    display: flex;
    flex-direction: column;

    .tags {
      margin-top: 10px;
      display: flex;
      gap: 10px;
    }

    h3,
    p {
      margin: 0;
    }
  }

  .status {
    padding: 6px 12px;
    border-radius: 16px;
    background-color: #ececec;
    letter-spacing: -1px;

    &[data-status='waiting'] {
      background-color: rgb(25, 168, 80);
      color: white;
    }

    &[data-status='done'] {
      background-color: rgb(18, 106, 207);
      color: white;
      opacity: 0.3;
    }

    .name {
      font-weight: bold;
    }

    .value {
      margin-left: 8px;
    }
  }
}

.captionCard {
  position: relative;
  border-radius: 16px;
  background: #f5f5f5;
  overflow: hidden;

  transition: 0.23s height cubic-bezier(0.19, 1, 0.22, 1);

  .contents {
    margin: 26px 64px;
  }

  .row {
    display: flex;
    min-width: 500px;
    justify-content: space-between;

    .title {
      max-width: 150px;
      margin: 0;
    }

    p {
      margin: 0;
    }

    & > * {
      flex: 1;
    }
  }
}

.originText {
  p {
    margin: 0;
    min-height: 1em;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;

  letter-spacing: -1px;

  .value {
    display: flex;
    gap: 16px;
  }
}

$link-color: #0a84e9;

.copyable {
  color: $link-color;
  cursor: pointer;

  &:hover {
    color: darken($link-color, 10%);
  }

  &:active {
    color: darken($link-color, 20%);
  }
}

.muted {
  opacity: 0.5;
}

.help {
  position: relative;
  display: flex;

  padding: 16px 32px;

  background-color: #dbeefd;
  border-radius: 16px;

  svg {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
  }
}