@import '../constants.scss';

html[data-dark-mode='true'] {
  .videoCard {
    .thumbnail {
      background-color: #282a2b;
    }
  }

  .copyable {
    color: var(--color-primary, $dark-link-color);
    cursor: pointer;
    user-select: none;
  }

  .captionCard {
    color: var(--color-on-surface, white);
    background-color: var(--color-surface, $dark-shades-1);
  }

  .debug {
    a {
      color: $dark-link-color;
    }
  }

  .status {
    background-color: #252930;
    color: white;

    &[data-status='waiting'] {
      background-color: rgb(10, 63, 31);
    }

    &[data-status='reupload'] {
      background-color: rgb(63, 31, 10);
    }

    &[data-status='done'] {
      background-color: rgb(10, 40, 75);
      opacity: 0.3;
    }
  }

  .help {
    svg {
      fill: white;
    }

    background-color: #2d4658;
  }
}

.videoCard {
  position: relative;
  width: 100%;
  display: flex;
  padding: 24px 36px;
  border-radius: 16px;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }

  .thumbnail {
    position: relative;
    aspect-ratio: 16 / 9;

    overflow: hidden;
    border-radius: 16px;

    isolation: isolate;

    width: 250px;
    color: transparent;

    background-color: var(--color-secondary-container-on, #cfcfcf);
  }

  .metadata {
    margin: auto;
    margin-left: 32px;
    letter-spacing: -0.5px;
  }

  .title {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile) {
      font-size: 0.9em;
    }

    h3 {
      letter-spacing: -0.6px;
    }

    .tags {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    h3,
    p {
      margin: 0;
    }
  }

  .status {
    padding: 6px 12px;
    border-radius: 16px;
    background-color: #ececec;
    letter-spacing: -0.5px;

    transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      opacity: 0.9;
    }

    &:active {
      opacity: 0.8;
    }

    &[data-status='waiting'] {
      background-color: #139947;
      color: $dark-text-color;
    }

    &[data-status='reupload'] {
      background-color: #994b13;
      color: $dark-text-color;
    }

    &[data-status='done'] {
      background-color: rgb(10, 85, 172);
      color: $dark-text-color;
      opacity: 0.3;

      &:hover {
        opacity: 0.4;
      }

      &:active {
        opacity: 0.5;
      }
    }

    .name {
      font-weight: bold;
    }

    .value {
      margin-left: 8px;
      font-weight: 300;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
    padding: 8px 0px;

    .thumbnail {
      width: 100%;
      margin-bottom: 16px;
    }

    .metadata {
      font-size: 0.9em;
      margin-left: unset;
    }
  }
}

.captionCard {
  position: relative;
  border-radius: 16px;
  color: var(--color-on-surface, #000);
  background-color: var(--color-surface, #f5f5f5);

  // &[data-open="true"] {
  //   border: 1px solid var(--color-outline, transparent)
  // }

  overflow: hidden;

  transition: 0.23s height cubic-bezier(0.19, 1, 0.22, 1);

  .contents {
    margin: 26px 64px;

    @media screen and (max-width: $tablet) {
      font-size: 0.95em;
    }

    @media screen and (max-width: $mobile) {
      font-size: 0.9em;
    }
  }

  .row {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    font-size: 0.95em;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      min-width: unset;
      gap: 16px;

      overflow-xs: auto;
    }

    .title {
      max-width: 150px;
      margin: 0;
    }

    p {
      margin: 0;
    }

    & > * {
      flex: 1;
    }
  }
}

.originText {
  p {
    margin: 0;
    min-height: 1em;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;

  letter-spacing: -0.5px;

  .value {
    display: flex;
    gap: 16px;

    overflow-x: auto;
  }
}

.copyable {
  color: var(--color-primary, $link-color);
  cursor: pointer;
  user-select: none;

  transition: 0.23s opacity cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.muted {
  opacity: 0.5;
}

.help {
  position: relative;
  display: flex;

  padding: 16px 32px;

  background-color: #dbeefd;
  border-radius: 16px;

  i {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8px;
  }
}

.debug {
  white-space: pre-line;
  letter-spacing: 0.3px;
  font-size: 0.9em;
  line-height: 140%;

  a {
    color: var(--color-primary);
  }
}