$neutral-9: #f5f5f5;

$common-100: #ffffff;
$common-0: #000000;

$viichan-color-primary-light: #466800;
$viichan-color-on-primary-light: #ffffff;
$viichan-color-primary-container-light: #c3f270;
$viichan-color-on-primary-container-light: #121f00;
$viichan-color-secondary-light: #596248;
$viichan-color-on-secondary-light: #ffffff;
$viichan-color-secondary-container-light: #dde6c6;
$viichan-color-on-secondary-container-light: #171e0a;
$viichan-color-tertiary-light: #396661;
$viichan-color-on-tertiary-light: #ffffff;
$viichan-color-tertiary-container-light: #bcece5;
$viichan-color-on-tertiary-container-light: #00201d;
$viichan-color-error-light: #ba1b1b;
$viichan-color-on-error-light: #ffffff;
$viichan-color-error-container-light: #ffdad4;
$viichan-color-on-error-container-light: #410001;
$viichan-color-outline-light: #75786b;
$viichan-color-background-light: #fefcf5;
$viichan-color-on-background-light: #1b1c18;
$viichan-color-surface-light: #fefcf5;
$viichan-color-on-surface-light: #1b1c18;
$viichan-color-surface-variant-light: #e2e4d4;
$viichan-color-on-surface-variant-light: #45483d;
$viichan-color-inverse-surface-light: #30312c;
$viichan-color-inverse-on-surface-light: #f2f1e9;
$viichan-color-primary-dark: #a8d557;
$viichan-color-on-primary-dark: #223600;
$viichan-color-primary-container-dark: #344e00;
$viichan-color-on-primary-container-dark: #c3f270;
$viichan-color-secondary-dark: #c1caab;
$viichan-color-on-secondary-dark: #2b331d;
$viichan-color-secondary-container-dark: #424a32;
$viichan-color-on-secondary-container-dark: #dde6c6;
$viichan-color-tertiary-dark: #a0d0c9;
$viichan-color-on-tertiary-dark: #013733;
$viichan-color-tertiary-container-dark: #1f4e49;
$viichan-color-on-tertiary-container-dark: #bcece5;
$viichan-color-error-dark: #ffb4a9;
$viichan-color-on-error-dark: #680003;
$viichan-color-error-container-dark: #930006;
$viichan-color-on-error-container-dark: #ffdad4;
$viichan-color-outline-dark: #8f9284;
$viichan-color-background-dark: #1b1c18;
$viichan-color-on-background-dark: #e4e3db;
$viichan-color-surface-dark: #1b1c18;
$viichan-color-on-surface-dark: #e4e3db;
$viichan-color-surface-variant-dark: #45483d;
$viichan-color-on-surface-variant-dark: #c6c8b9;
$viichan-color-inverse-surface-dark: #e4e3db;
$viichan-color-inverse-on-surface-dark: #1b1c18;

$gosegu-color-primary-light: #00677c;
$gosegu-color-on-primary-light: #ffffff;
$gosegu-color-primary-container-light: #adecff;
$gosegu-color-on-primary-container-light: #001f27;
$gosegu-color-secondary-light: #4b6269;
$gosegu-color-on-secondary-light: #ffffff;
$gosegu-color-secondary-container-light: #cee7f0;
$gosegu-color-on-secondary-container-light: #061e25;
$gosegu-color-tertiary-light: #585c7d;
$gosegu-color-on-tertiary-light: #ffffff;
$gosegu-color-tertiary-container-light: #dde0ff;
$gosegu-color-on-tertiary-container-light: #141937;
$gosegu-color-error-light: #ba1b1b;
$gosegu-color-on-error-light: #ffffff;
$gosegu-color-error-container-light: #ffdad4;
$gosegu-color-on-error-container-light: #410001;
$gosegu-color-outline-light: #70797c;
$gosegu-color-background-light: #fafcfd;
$gosegu-color-on-background-light: #191c1d;
$gosegu-color-surface-light: #fafcfd;
$gosegu-color-on-surface-light: #191c1d;
$gosegu-color-surface-variant-light: #dbe4e8;
$gosegu-color-on-surface-variant-light: #40484b;
$gosegu-color-inverse-surface-light: #2e3132;
$gosegu-color-inverse-on-surface-light: #eff1f2;
$gosegu-color-primary-dark: #59d6f7;
$gosegu-color-on-primary-dark: #003642;
$gosegu-color-primary-container-dark: #004e5f;
$gosegu-color-on-primary-container-dark: #adecff;
$gosegu-color-secondary-dark: #b2cad3;
$gosegu-color-on-secondary-dark: #1d343b;
$gosegu-color-secondary-container-dark: #344a51;
$gosegu-color-on-secondary-container-dark: #cee7f0;
$gosegu-color-tertiary-dark: #c0c4eb;
$gosegu-color-on-tertiary-dark: #2a2e4d;
$gosegu-color-tertiary-container-dark: #404465;
$gosegu-color-on-tertiary-container-dark: #dde0ff;
$gosegu-color-error-dark: #ffb4a9;
$gosegu-color-on-error-dark: #680003;
$gosegu-color-error-container-dark: #930006;
$gosegu-color-on-error-container-dark: #ffdad4;
$gosegu-color-outline-dark: #899296;
$gosegu-color-background-dark: #191c1d;
$gosegu-color-on-background-dark: #e1e3e4;
$gosegu-color-surface-dark: #191c1d;
$gosegu-color-on-surface-dark: #e1e3e4;
$gosegu-color-surface-variant-dark: #40484b;
$gosegu-color-on-surface-variant-dark: #bfc8cc;
$gosegu-color-inverse-surface-dark: #e1e3e4;
$gosegu-color-inverse-on-surface-dark: #191c1d;

$ine-color-primary-light: #8422dc;
$ine-color-on-primary-light: #ffffff;
$ine-color-primary-container-light: #f1dbff;
$ine-color-on-primary-container-light: #2b0053;
$ine-color-secondary-light: #655a6f;
$ine-color-on-secondary-light: #ffffff;
$ine-color-secondary-container-light: #edddf7;
$ine-color-on-secondary-container-light: #21182a;
$ine-color-tertiary-light: #805258;
$ine-color-on-tertiary-light: #ffffff;
$ine-color-tertiary-container-light: #ffdadf;
$ine-color-on-tertiary-container-light: #321117;
$ine-color-error-light: #ba1b1b;
$ine-color-on-error-light: #ffffff;
$ine-color-error-container-light: #ffdad4;
$ine-color-on-error-container-light: #410001;
$ine-color-outline-light: #7c757f;
$ine-color-background-light: #fcfcfc;
$ine-color-on-background-light: #1d1b1e;
$ine-color-surface-light: #fcfcfc;
$ine-color-on-surface-light: #1d1b1e;
$ine-color-surface-variant-light: #e9e0eb;
$ine-color-on-surface-variant-light: #4a454d;
$ine-color-inverse-surface-light: #322f33;
$ine-color-inverse-on-surface-light: #f6eff4;
$ine-color-primary-dark: #deb8ff;
$ine-color-on-primary-dark: #480083;
$ine-color-primary-container-dark: #6600b6;
$ine-color-on-primary-container-dark: #f1dbff;
$ine-color-secondary-dark: #d0c1da;
$ine-color-on-secondary-dark: #362c3f;
$ine-color-secondary-container-dark: #4d4356;
$ine-color-on-secondary-container-dark: #edddf7;
$ine-color-tertiary-dark: #f2b7be;
$ine-color-on-tertiary-dark: #4b252b;
$ine-color-tertiary-container-dark: #653b41;
$ine-color-on-tertiary-container-dark: #ffdadf;
$ine-color-error-dark: #ffb4a9;
$ine-color-on-error-dark: #680003;
$ine-color-error-container-dark: #930006;
$ine-color-on-error-container-dark: #ffdad4;
$ine-color-outline-dark: #968e99;
$ine-color-background-dark: #1d1b1e;
$ine-color-on-background-dark: #e7e1e5;
$ine-color-surface-dark: #1d1b1e;
$ine-color-on-surface-dark: #e7e1e5;
$ine-color-surface-variant-dark: #4a454d;
$ine-color-on-surface-variant-dark: #ccc4ce;
$ine-color-inverse-surface-dark: #e7e1e5;
$ine-color-inverse-on-surface-dark: #1d1b1e;

$jingburger-color-primary-light: #6d5e00;
$jingburger-color-on-primary-light: #ffffff;
$jingburger-color-primary-container-light: #fee349;
$jingburger-color-on-primary-container-light: #211b00;
$jingburger-color-secondary-light: #655e40;
$jingburger-color-on-secondary-light: #ffffff;
$jingburger-color-secondary-container-light: #ede3bc;
$jingburger-color-on-secondary-container-light: #201c05;
$jingburger-color-tertiary-light: #426650;
$jingburger-color-on-tertiary-light: #ffffff;
$jingburger-color-tertiary-container-light: #c4ecd0;
$jingburger-color-on-tertiary-container-light: #002110;
$jingburger-color-error-light: #ba1b1b;
$jingburger-color-on-error-light: #ffffff;
$jingburger-color-error-container-light: #ffdad4;
$jingburger-color-on-error-container-light: #410001;
$jingburger-color-outline-light: #7c7768;
$jingburger-color-background-light: #fffbf7;
$jingburger-color-on-background-light: #1d1b16;
$jingburger-color-surface-light: #fffbf7;
$jingburger-color-on-surface-light: #1d1b16;
$jingburger-color-surface-variant-light: #e9e2d0;
$jingburger-color-on-surface-variant-light: #4a4739;
$jingburger-color-inverse-surface-light: #32302a;
$jingburger-color-inverse-on-surface-light: #f5f0e7;
$jingburger-color-primary-dark: #e0c62c;
$jingburger-color-on-primary-dark: #393000;
$jingburger-color-primary-container-dark: #524600;
$jingburger-color-on-primary-container-dark: #fee349;
$jingburger-color-secondary-dark: #d0c7a2;
$jingburger-color-on-secondary-dark: #363116;
$jingburger-color-secondary-container-dark: #4d472a;
$jingburger-color-on-secondary-container-dark: #ede3bc;
$jingburger-color-tertiary-dark: #a8d0b5;
$jingburger-color-on-tertiary-dark: #133724;
$jingburger-color-tertiary-container-dark: #2a4e39;
$jingburger-color-on-tertiary-container-dark: #c4ecd0;
$jingburger-color-error-dark: #ffb4a9;
$jingburger-color-on-error-dark: #680003;
$jingburger-color-error-container-dark: #930006;
$jingburger-color-on-error-container-dark: #ffdad4;
$jingburger-color-outline-dark: #969181;
$jingburger-color-background-dark: #1d1b16;
$jingburger-color-on-background-dark: #e7e2d9;
$jingburger-color-surface-dark: #1d1b16;
$jingburger-color-on-surface-dark: #e7e2d9;
$jingburger-color-surface-variant-dark: #4a4739;
$jingburger-color-on-surface-variant-dark: #ccc6b5;
$jingburger-color-inverse-surface-dark: #e7e2d9;
$jingburger-color-inverse-on-surface-dark: #1d1b16;

$lilpa-color-primary-light: #5854a8;
$lilpa-color-on-primary-light: #ffffff;
$lilpa-color-primary-container-light: #e4dfff;
$lilpa-color-on-primary-container-light: #130463;
$lilpa-color-secondary-light: #5e5c72;
$lilpa-color-on-secondary-light: #ffffff;
$lilpa-color-secondary-container-light: #e4e0f9;
$lilpa-color-on-secondary-container-light: #1a1a2c;
$lilpa-color-tertiary-light: #7a5267;
$lilpa-color-on-tertiary-light: #ffffff;
$lilpa-color-tertiary-container-light: #ffd8eb;
$lilpa-color-on-tertiary-container-light: #2f1123;
$lilpa-color-error-light: #ba1b1b;
$lilpa-color-on-error-light: #ffffff;
$lilpa-color-error-container-light: #ffdad4;
$lilpa-color-on-error-container-light: #410001;
$lilpa-color-outline-light: #787680;
$lilpa-color-background-light: #fffbff;
$lilpa-color-on-background-light: #1c1b1f;
$lilpa-color-surface-light: #fffbff;
$lilpa-color-on-surface-light: #1c1b1f;
$lilpa-color-surface-variant-light: #e5e1ec;
$lilpa-color-on-surface-variant-light: #47464f;
$lilpa-color-inverse-surface-light: #313033;
$lilpa-color-inverse-on-surface-light: #f3eff4;
$lilpa-color-primary-dark: #c4c0ff;
$lilpa-color-on-primary-dark: #292277;
$lilpa-color-primary-container-dark: #403b8e;
$lilpa-color-on-primary-container-dark: #e4dfff;
$lilpa-color-secondary-dark: #c7c4dc;
$lilpa-color-on-secondary-dark: #302e42;
$lilpa-color-secondary-container-dark: #464559;
$lilpa-color-on-secondary-container-dark: #e4e0f9;
$lilpa-color-tertiary-dark: #ebb9d1;
$lilpa-color-on-tertiary-dark: #472538;
$lilpa-color-tertiary-container-dark: #603b4f;
$lilpa-color-on-tertiary-container-dark: #ffd8eb;
$lilpa-color-error-dark: #ffb4a9;
$lilpa-color-on-error-dark: #680003;
$lilpa-color-error-container-dark: #930006;
$lilpa-color-on-error-container-dark: #ffdad4;
$lilpa-color-outline-dark: #928f9a;
$lilpa-color-background-dark: #1c1b1f;
$lilpa-color-on-background-dark: #e5e1e6;
$lilpa-color-surface-dark: #1c1b1f;
$lilpa-color-on-surface-dark: #e5e1e6;
$lilpa-color-surface-variant-dark: #47464f;
$lilpa-color-on-surface-variant-dark: #c8c5d0;
$lilpa-color-inverse-surface-dark: #e5e1e6;
$lilpa-color-inverse-on-surface-dark: #1c1b1f;

$jururu-color-primary-light: #9f3c58;
$jururu-color-on-primary-light: #ffffff;
$jururu-color-primary-container-light: #ffd9e0;
$jururu-color-on-primary-container-light: #3f0016;
$jururu-color-secondary-light: #75565c;
$jururu-color-on-secondary-light: #ffffff;
$jururu-color-secondary-container-light: #ffd9e0;
$jururu-color-on-secondary-container-light: #2b151a;
$jururu-color-tertiary-light: #7a5732;
$jururu-color-on-tertiary-light: #ffffff;
$jururu-color-tertiary-container-light: #ffdcb9;
$jururu-color-on-tertiary-container-light: #2c1600;
$jururu-color-error-light: #ba1b1b;
$jururu-color-on-error-light: #ffffff;
$jururu-color-error-container-light: #ffdad4;
$jururu-color-on-error-container-light: #410001;
$jururu-color-outline-light: #837375;
$jururu-color-background-light: #fcfcfc;
$jururu-color-on-background-light: #201a1b;
$jururu-color-surface-light: #fcfcfc;
$jururu-color-on-surface-light: #201a1b;
$jururu-color-surface-variant-light: #f3dde0;
$jururu-color-on-surface-variant-light: #514345;
$jururu-color-inverse-surface-light: #362f30;
$jururu-color-inverse-on-surface-light: #faeeef;
$jururu-color-primary-dark: #ffb1c3;
$jururu-color-on-primary-dark: #620b2b;
$jururu-color-primary-container-dark: #802541;
$jururu-color-on-primary-container-dark: #ffd9e0;
$jururu-color-secondary-dark: #e4bcc3;
$jururu-color-on-secondary-dark: #42292e;
$jururu-color-secondary-container-dark: #5c3f45;
$jururu-color-on-secondary-container-dark: #ffd9e0;
$jururu-color-tertiary-dark: #ecbe91;
$jururu-color-on-tertiary-dark: #462a09;
$jururu-color-tertiary-container-dark: #60401d;
$jururu-color-on-tertiary-container-dark: #ffdcb9;
$jururu-color-error-dark: #ffb4a9;
$jururu-color-on-error-dark: #680003;
$jururu-color-error-container-dark: #930006;
$jururu-color-on-error-container-dark: #ffdad4;
$jururu-color-outline-dark: #9f8c8f;
$jururu-color-background-dark: #201a1b;
$jururu-color-on-background-dark: #ecdfe0;
$jururu-color-surface-dark: #201a1b;
$jururu-color-on-surface-dark: #ecdfe0;
$jururu-color-surface-variant-dark: #514345;
$jururu-color-on-surface-variant-dark: #d6c1c4;
$jururu-color-inverse-surface-dark: #ecdfe0;
$jururu-color-inverse-on-surface-dark: #201a1b;

$wakgood-color-primary-light: #596400;
$wakgood-color-on-primary-light: #ffffff;
$wakgood-color-primary-container-light: #dced4e;
$wakgood-color-on-primary-container-light: #1a1e00;
$wakgood-color-secondary-light: #5e6144;
$wakgood-color-on-secondary-light: #ffffff;
$wakgood-color-secondary-container-light: #e3e5c1;
$wakgood-color-on-secondary-container-light: #1b1d07;
$wakgood-color-tertiary-light: #3b665a;
$wakgood-color-on-tertiary-light: #ffffff;
$wakgood-color-tertiary-container-light: #beeddd;
$wakgood-color-on-tertiary-container-light: #002019;
$wakgood-color-error-light: #ba1b1b;
$wakgood-color-on-error-light: #ffffff;
$wakgood-color-error-container-light: #ffdad4;
$wakgood-color-on-error-container-light: #410001;
$wakgood-color-outline-light: #78786a;
$wakgood-color-background-light: #fffcf3;
$wakgood-color-on-background-light: #1c1c17;
$wakgood-color-surface-light: #fffcf3;
$wakgood-color-on-surface-light: #1c1c17;
$wakgood-color-surface-variant-light: #e4e3d1;
$wakgood-color-on-surface-variant-light: #47483b;
$wakgood-color-inverse-surface-light: #31312b;
$wakgood-color-inverse-on-surface-light: #f4f1e9;
$wakgood-color-primary-dark: #c0d033;
$wakgood-color-on-primary-dark: #2d3400;
$wakgood-color-primary-container-dark: #424b00;
$wakgood-color-on-primary-container-dark: #dced4e;
$wakgood-color-secondary-dark: #c7c9a7;
$wakgood-color-on-secondary-dark: #2f321a;
$wakgood-color-secondary-container-dark: #46492e;
$wakgood-color-on-secondary-container-dark: #e3e5c1;
$wakgood-color-tertiary-dark: #a2d0c1;
$wakgood-color-on-tertiary-dark: #07372d;
$wakgood-color-tertiary-container-dark: #234e43;
$wakgood-color-on-tertiary-container-dark: #beeddd;
$wakgood-color-error-dark: #ffb4a9;
$wakgood-color-on-error-dark: #680003;
$wakgood-color-error-container-dark: #930006;
$wakgood-color-on-error-container-dark: #ffdad4;
$wakgood-color-outline-dark: #929282;
$wakgood-color-background-dark: #1c1c17;
$wakgood-color-on-background-dark: #e5e2da;
$wakgood-color-surface-dark: #1c1c17;
$wakgood-color-on-surface-dark: #e5e2da;
$wakgood-color-surface-variant-dark: #47483b;
$wakgood-color-on-surface-variant-dark: #c8c7b7;
$wakgood-color-inverse-surface-dark: #e5e2da;
$wakgood-color-inverse-on-surface-dark: #1c1c17;

$waktaverse-color-primary-light: #006b54;
$waktaverse-color-on-primary-light: #ffffff;
$waktaverse-color-primary-container-light: #66fbd2;
$waktaverse-color-on-primary-container-light: #012018;
$waktaverse-color-secondary-light: #4b635a;
$waktaverse-color-on-secondary-light: #ffffff;
$waktaverse-color-secondary-container-light: #cee8dd;
$waktaverse-color-on-secondary-container-light: #072019;
$waktaverse-color-tertiary-light: #406276;
$waktaverse-color-on-tertiary-light: #ffffff;
$waktaverse-color-tertiary-container-light: #c4e8ff;
$waktaverse-color-on-tertiary-container-light: #001e2c;
$waktaverse-color-error-light: #ba1b1b;
$waktaverse-color-on-error-light: #ffffff;
$waktaverse-color-error-container-light: #ffdad4;
$waktaverse-color-on-error-container-light: #410001;
$waktaverse-color-outline-light: #6f7974;
$waktaverse-color-background-light: #fbfdfa;
$waktaverse-color-on-background-light: #191c1b;
$waktaverse-color-surface-light: #fbfdfa;
$waktaverse-color-on-surface-light: #191c1b;
$waktaverse-color-surface-variant-light: #dbe5df;
$waktaverse-color-on-surface-variant-light: #3f4945;
$waktaverse-color-inverse-surface-light: #2d312f;
$waktaverse-color-inverse-on-surface-light: #eff1ee;
$waktaverse-color-primary-dark: #42deb6;
$waktaverse-color-on-primary-dark: #00382a;
$waktaverse-color-primary-container-dark: #00513f;
$waktaverse-color-on-primary-container-dark: #66fbd2;
$waktaverse-color-secondary-dark: #b2ccc1;
$waktaverse-color-on-secondary-dark: #1d352d;
$waktaverse-color-secondary-container-dark: #344b43;
$waktaverse-color-on-secondary-container-dark: #cee8dd;
$waktaverse-color-tertiary-dark: #a8cbe2;
$waktaverse-color-on-tertiary-dark: #0d3446;
$waktaverse-color-tertiary-container-dark: #284b5e;
$waktaverse-color-on-tertiary-container-dark: #c4e8ff;
$waktaverse-color-error-dark: #ffb4a9;
$waktaverse-color-on-error-dark: #680003;
$waktaverse-color-error-container-dark: #930006;
$waktaverse-color-on-error-container-dark: #ffdad4;
$waktaverse-color-outline-dark: #89938e;
$waktaverse-color-background-dark: #191c1b;
$waktaverse-color-on-background-dark: #e1e3e0;
$waktaverse-color-surface-dark: #191c1b;
$waktaverse-color-on-surface-dark: #e1e3e0;
$waktaverse-color-surface-variant-dark: #3f4945;
$waktaverse-color-on-surface-variant-dark: #bfc9c3;
$waktaverse-color-inverse-surface-dark: #e1e3e0;
$waktaverse-color-inverse-on-surface-dark: #191c1b;