@import './constants.scss';
@import './colors.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-display: swap;
}

html[data-dark-mode='true'] {
  background-color: hsl(210, 21%, 9%);
  color: $dark-text-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  // Viichan

  // &[data-member-scheme='viichan'] {
  //   background-color: var(--viichan-color-background);
  //   color: var(--viichan-color-on-background)
  // }

  // &[data-member-scheme='gosegu'] {
  //   background-color: var(--gosegu-color-background);
  //   color: var(--gosegu-color-on-background)
  // }

  // &[data-member-scheme='lilpa'] {
  //   background-color: var(--lilpa-color-background);
  //   color: var(--lilpa-color-on-background)
  // }

  // &[data-member-scheme='ine'] {
  //   background-color: var(--ine-color-background);
  //   color: var(--ine-color-on-background)
  // }

  // &[data-member-scheme='jingburger'] {
  //   background-color: var(--jingburger-color-background);
  //   color: var(--jingburger-color-on-background)
  // }

  // &[data-member-scheme='jururu'] {
  //   background-color: var(--jururu-color-background);
  //   color: var(--jururu-color-on-background)
  // }

  // &[data-member-scheme='waktaverse'] {
  //   background-color: var(--waktaverse-color-background);
  //   color: var(--waktaverse-color-on-background)
  // }

  // &[data-member-scheme='wakgood'] {
  //   background-color: var(--wakgood-color-background);
  //   color: var(--wakgood-color-on-background)
  // }

  &[data-dark-mode='true'] {
    --viichan-color-primary: #{$viichan-color-primary-dark};
    --viichan-color-on-primary: #{$viichan-color-on-primary-dark};
    --viichan-color-primary-container: #{$viichan-color-primary-container-dark};
    --viichan-color-on-primary-container: #{$viichan-color-on-primary-container-dark};
    --viichan-color-secondary: #{$viichan-color-secondary-dark};
    --viichan-color-on-secondary: #{$viichan-color-on-secondary-dark};
    --viichan-color-secondary-container: #{$viichan-color-secondary-container-dark};
    --viichan-color-on-secondary-container: #{$viichan-color-on-secondary-container-dark};
    --viichan-color-tertiary: #{$viichan-color-tertiary-dark};
    --viichan-color-on-tertiary: #{$viichan-color-on-tertiary-dark};
    --viichan-color-tertiary-container: #{$viichan-color-tertiary-container-dark};
    --viichan-color-on-tertiary-container: #{$viichan-color-on-tertiary-container-dark};
    --viichan-color-error: #{$viichan-color-error-dark};
    --viichan-color-on-error: #{$viichan-color-on-error-dark};
    --viichan-color-error-container: #{$viichan-color-error-container-dark};
    --viichan-color-on-error-container: #{$viichan-color-on-error-container-dark};
    --viichan-color-outline: #{$viichan-color-outline-dark};
    --viichan-color-background: #{$viichan-color-background-dark};
    --viichan-color-on-background: #{$viichan-color-on-background-dark};
    --viichan-color-surface: #{$viichan-color-surface-dark};
    --viichan-color-on-surface: #{$viichan-color-on-surface-dark};
    --viichan-color-surface-variant: #{$viichan-color-surface-variant-dark};
    --viichan-color-on-surface-variant: #{$viichan-color-on-surface-variant-dark};
    --viichan-color-inverse-surface: #{$viichan-color-inverse-surface-dark};
    --viichan-color-inverse-on-surface: #{$viichan-color-inverse-on-surface-dark};
  }

  --viichan-color-primary: #{$viichan-color-primary-light};
  --viichan-color-on-primary: #{$viichan-color-on-primary-light};
  --viichan-color-primary-container: #{$viichan-color-primary-container-light};
  --viichan-color-on-primary-container: #{$viichan-color-on-primary-container-light};
  --viichan-color-secondary: #{$viichan-color-secondary-light};
  --viichan-color-on-secondary: #{$viichan-color-on-secondary-light};
  --viichan-color-secondary-container: #{$viichan-color-secondary-container-light};
  --viichan-color-on-secondary-container: #{$viichan-color-on-secondary-container-light};
  --viichan-color-tertiary: #{$viichan-color-tertiary-light};
  --viichan-color-on-tertiary: #{$viichan-color-on-tertiary-light};
  --viichan-color-tertiary-container: #{$viichan-color-tertiary-container-light};
  --viichan-color-on-tertiary-container: #{$viichan-color-on-tertiary-container-light};
  --viichan-color-error: #{$viichan-color-error-light};
  --viichan-color-on-error: #{$viichan-color-on-error-light};
  --viichan-color-error-container: #{$viichan-color-error-container-light};
  --viichan-color-on-error-container: #{$viichan-color-on-error-container-light};
  --viichan-color-outline: #{$viichan-color-outline-light};
  --viichan-color-background: #{$viichan-color-background-light};
  --viichan-color-on-background: #{$viichan-color-on-background-light};
  --viichan-color-surface: #{$viichan-color-surface-light};
  --viichan-color-on-surface: #{$viichan-color-on-surface-light};
  --viichan-color-surface-variant: #{$viichan-color-surface-variant-light};
  --viichan-color-on-surface-variant: #{$viichan-color-on-surface-variant-light};
  --viichan-color-inverse-surface: #{$viichan-color-inverse-surface-light};
  --viichan-color-inverse-on-surface: #{$viichan-color-inverse-on-surface-light};

  // Gosegu

  &[data-dark-mode='true'] {
    --gosegu-color-primary: #{$gosegu-color-primary-dark};
    --gosegu-color-on-primary: #{$gosegu-color-on-primary-dark};
    --gosegu-color-primary-container: #{$gosegu-color-primary-container-dark};
    --gosegu-color-on-primary-container: #{$gosegu-color-on-primary-container-dark};
    --gosegu-color-secondary: #{$gosegu-color-secondary-dark};
    --gosegu-color-on-secondary: #{$gosegu-color-on-secondary-dark};
    --gosegu-color-secondary-container: #{$gosegu-color-secondary-container-dark};
    --gosegu-color-on-secondary-container: #{$gosegu-color-on-secondary-container-dark};
    --gosegu-color-tertiary: #{$gosegu-color-tertiary-dark};
    --gosegu-color-on-tertiary: #{$gosegu-color-on-tertiary-dark};
    --gosegu-color-tertiary-container: #{$gosegu-color-tertiary-container-dark};
    --gosegu-color-on-tertiary-container: #{$gosegu-color-on-tertiary-container-dark};
    --gosegu-color-error: #{$gosegu-color-error-dark};
    --gosegu-color-on-error: #{$gosegu-color-on-error-dark};
    --gosegu-color-error-container: #{$gosegu-color-error-container-dark};
    --gosegu-color-on-error-container: #{$gosegu-color-on-error-container-dark};
    --gosegu-color-outline: #{$gosegu-color-outline-dark};
    --gosegu-color-background: #{$gosegu-color-background-dark};
    --gosegu-color-on-background: #{$gosegu-color-on-background-dark};
    --gosegu-color-surface: #{$gosegu-color-surface-dark};
    --gosegu-color-on-surface: #{$gosegu-color-on-surface-dark};
    --gosegu-color-surface-variant: #{$gosegu-color-surface-variant-dark};
    --gosegu-color-on-surface-variant: #{$gosegu-color-on-surface-variant-dark};
    --gosegu-color-inverse-surface: #{$gosegu-color-inverse-surface-dark};
    --gosegu-color-inverse-on-surface: #{$gosegu-color-inverse-on-surface-dark};
  }

  --gosegu-color-primary: #{$gosegu-color-primary-light};
  --gosegu-color-on-primary: #{$gosegu-color-on-primary-light};
  --gosegu-color-primary-container: #{$gosegu-color-primary-container-light};
  --gosegu-color-on-primary-container: #{$gosegu-color-on-primary-container-light};
  --gosegu-color-secondary: #{$gosegu-color-secondary-light};
  --gosegu-color-on-secondary: #{$gosegu-color-on-secondary-light};
  --gosegu-color-secondary-container: #{$gosegu-color-secondary-container-light};
  --gosegu-color-on-secondary-container: #{$gosegu-color-on-secondary-container-light};
  --gosegu-color-tertiary: #{$gosegu-color-tertiary-light};
  --gosegu-color-on-tertiary: #{$gosegu-color-on-tertiary-light};
  --gosegu-color-tertiary-container: #{$gosegu-color-tertiary-container-light};
  --gosegu-color-on-tertiary-container: #{$gosegu-color-on-tertiary-container-light};
  --gosegu-color-error: #{$gosegu-color-error-light};
  --gosegu-color-on-error: #{$gosegu-color-on-error-light};
  --gosegu-color-error-container: #{$gosegu-color-error-container-light};
  --gosegu-color-on-error-container: #{$gosegu-color-on-error-container-light};
  --gosegu-color-outline: #{$gosegu-color-outline-light};
  --gosegu-color-background: #{$gosegu-color-background-light};
  --gosegu-color-on-background: #{$gosegu-color-on-background-light};
  --gosegu-color-surface: #{$gosegu-color-surface-light};
  --gosegu-color-on-surface: #{$gosegu-color-on-surface-light};
  --gosegu-color-surface-variant: #{$gosegu-color-surface-variant-light};
  --gosegu-color-on-surface-variant: #{$gosegu-color-on-surface-variant-light};
  --gosegu-color-inverse-surface: #{$gosegu-color-inverse-surface-light};
  --gosegu-color-inverse-on-surface: #{$gosegu-color-inverse-on-surface-light};

  // INE

  &[data-dark-mode='true'] {
    --ine-color-primary: #{$ine-color-primary-dark};
    --ine-color-on-primary: #{$ine-color-on-primary-dark};
    --ine-color-primary-container: #{$ine-color-primary-container-dark};
    --ine-color-on-primary-container: #{$ine-color-on-primary-container-dark};
    --ine-color-secondary: #{$ine-color-secondary-dark};
    --ine-color-on-secondary: #{$ine-color-on-secondary-dark};
    --ine-color-secondary-container: #{$ine-color-secondary-container-dark};
    --ine-color-on-secondary-container: #{$ine-color-on-secondary-container-dark};
    --ine-color-tertiary: #{$ine-color-tertiary-dark};
    --ine-color-on-tertiary: #{$ine-color-on-tertiary-dark};
    --ine-color-tertiary-container: #{$ine-color-tertiary-container-dark};
    --ine-color-on-tertiary-container: #{$ine-color-on-tertiary-container-dark};
    --ine-color-error: #{$ine-color-error-dark};
    --ine-color-on-error: #{$ine-color-on-error-dark};
    --ine-color-error-container: #{$ine-color-error-container-dark};
    --ine-color-on-error-container: #{$ine-color-on-error-container-dark};
    --ine-color-outline: #{$ine-color-outline-dark};
    --ine-color-background: #{$ine-color-background-dark};
    --ine-color-on-background: #{$ine-color-on-background-dark};
    --ine-color-surface: #{$ine-color-surface-dark};
    --ine-color-on-surface: #{$ine-color-on-surface-dark};
    --ine-color-surface-variant: #{$ine-color-surface-variant-dark};
    --ine-color-on-surface-variant: #{$ine-color-on-surface-variant-dark};
    --ine-color-inverse-surface: #{$ine-color-inverse-surface-dark};
    --ine-color-inverse-on-surface: #{$ine-color-inverse-on-surface-dark};
  }

  --ine-color-primary: #{$ine-color-primary-light};
  --ine-color-on-primary: #{$ine-color-on-primary-light};
  --ine-color-primary-container: #{$ine-color-primary-container-light};
  --ine-color-on-primary-container: #{$ine-color-on-primary-container-light};
  --ine-color-secondary: #{$ine-color-secondary-light};
  --ine-color-on-secondary: #{$ine-color-on-secondary-light};
  --ine-color-secondary-container: #{$ine-color-secondary-container-light};
  --ine-color-on-secondary-container: #{$ine-color-on-secondary-container-light};
  --ine-color-tertiary: #{$ine-color-tertiary-light};
  --ine-color-on-tertiary: #{$ine-color-on-tertiary-light};
  --ine-color-tertiary-container: #{$ine-color-tertiary-container-light};
  --ine-color-on-tertiary-container: #{$ine-color-on-tertiary-container-light};
  --ine-color-error: #{$ine-color-error-light};
  --ine-color-on-error: #{$ine-color-on-error-light};
  --ine-color-error-container: #{$ine-color-error-container-light};
  --ine-color-on-error-container: #{$ine-color-on-error-container-light};
  --ine-color-outline: #{$ine-color-outline-light};
  --ine-color-background: #{$ine-color-background-light};
  --ine-color-on-background: #{$ine-color-on-background-light};
  --ine-color-surface: #{$ine-color-surface-light};
  --ine-color-on-surface: #{$ine-color-on-surface-light};
  --ine-color-surface-variant: #{$ine-color-surface-variant-light};
  --ine-color-on-surface-variant: #{$ine-color-on-surface-variant-light};
  --ine-color-inverse-surface: #{$ine-color-inverse-surface-light};
  --ine-color-inverse-on-surface: #{$ine-color-inverse-on-surface-light};

  // Jingburger

  &[data-dark-mode='true'] {
    --jingburger-color-primary: #{$jingburger-color-primary-dark};
    --jingburger-color-on-primary: #{$jingburger-color-on-primary-dark};
    --jingburger-color-primary-container: #{$jingburger-color-primary-container-dark};
    --jingburger-color-on-primary-container: #{$jingburger-color-on-primary-container-dark};
    --jingburger-color-secondary: #{$jingburger-color-secondary-dark};
    --jingburger-color-on-secondary: #{$jingburger-color-on-secondary-dark};
    --jingburger-color-secondary-container: #{$jingburger-color-secondary-container-dark};
    --jingburger-color-on-secondary-container: #{$jingburger-color-on-secondary-container-dark};
    --jingburger-color-tertiary: #{$jingburger-color-tertiary-dark};
    --jingburger-color-on-tertiary: #{$jingburger-color-on-tertiary-dark};
    --jingburger-color-tertiary-container: #{$jingburger-color-tertiary-container-dark};
    --jingburger-color-on-tertiary-container: #{$jingburger-color-on-tertiary-container-dark};
    --jingburger-color-error: #{$jingburger-color-error-dark};
    --jingburger-color-on-error: #{$jingburger-color-on-error-dark};
    --jingburger-color-error-container: #{$jingburger-color-error-container-dark};
    --jingburger-color-on-error-container: #{$jingburger-color-on-error-container-dark};
    --jingburger-color-outline: #{$jingburger-color-outline-dark};
    --jingburger-color-background: #{$jingburger-color-background-dark};
    --jingburger-color-on-background: #{$jingburger-color-on-background-dark};
    --jingburger-color-surface: #{$jingburger-color-surface-dark};
    --jingburger-color-on-surface: #{$jingburger-color-on-surface-dark};
    --jingburger-color-surface-variant: #{$jingburger-color-surface-variant-dark};
    --jingburger-color-on-surface-variant: #{$jingburger-color-on-surface-variant-dark};
    --jingburger-color-inverse-surface: #{$jingburger-color-inverse-surface-dark};
    --jingburger-color-inverse-on-surface: #{$jingburger-color-inverse-on-surface-dark};
  }

  --jingburger-color-primary: #{$jingburger-color-primary-light};
  --jingburger-color-on-primary: #{$jingburger-color-on-primary-light};
  --jingburger-color-primary-container: #{$jingburger-color-primary-container-light};
  --jingburger-color-on-primary-container: #{$jingburger-color-on-primary-container-light};
  --jingburger-color-secondary: #{$jingburger-color-secondary-light};
  --jingburger-color-on-secondary: #{$jingburger-color-on-secondary-light};
  --jingburger-color-secondary-container: #{$jingburger-color-secondary-container-light};
  --jingburger-color-on-secondary-container: #{$jingburger-color-on-secondary-container-light};
  --jingburger-color-tertiary: #{$jingburger-color-tertiary-light};
  --jingburger-color-on-tertiary: #{$jingburger-color-on-tertiary-light};
  --jingburger-color-tertiary-container: #{$jingburger-color-tertiary-container-light};
  --jingburger-color-on-tertiary-container: #{$jingburger-color-on-tertiary-container-light};
  --jingburger-color-error: #{$jingburger-color-error-light};
  --jingburger-color-on-error: #{$jingburger-color-on-error-light};
  --jingburger-color-error-container: #{$jingburger-color-error-container-light};
  --jingburger-color-on-error-container: #{$jingburger-color-on-error-container-light};
  --jingburger-color-outline: #{$jingburger-color-outline-light};
  --jingburger-color-background: #{$jingburger-color-background-light};
  --jingburger-color-on-background: #{$jingburger-color-on-background-light};
  --jingburger-color-surface: #{$jingburger-color-surface-light};
  --jingburger-color-on-surface: #{$jingburger-color-on-surface-light};
  --jingburger-color-surface-variant: #{$jingburger-color-surface-variant-light};
  --jingburger-color-on-surface-variant: #{$jingburger-color-on-surface-variant-light};
  --jingburger-color-inverse-surface: #{$jingburger-color-inverse-surface-light};
  --jingburger-color-inverse-on-surface: #{$jingburger-color-inverse-on-surface-light};

  // LILPA

  &[data-dark-mode='true'] {
    --lilpa-color-primary: #{$lilpa-color-primary-dark};
    --lilpa-color-on-primary: #{$lilpa-color-on-primary-dark};
    --lilpa-color-primary-container: #{$lilpa-color-primary-container-dark};
    --lilpa-color-on-primary-container: #{$lilpa-color-on-primary-container-dark};
    --lilpa-color-secondary: #{$lilpa-color-secondary-dark};
    --lilpa-color-on-secondary: #{$lilpa-color-on-secondary-dark};
    --lilpa-color-secondary-container: #{$lilpa-color-secondary-container-dark};
    --lilpa-color-on-secondary-container: #{$lilpa-color-on-secondary-container-dark};
    --lilpa-color-tertiary: #{$lilpa-color-tertiary-dark};
    --lilpa-color-on-tertiary: #{$lilpa-color-on-tertiary-dark};
    --lilpa-color-tertiary-container: #{$lilpa-color-tertiary-container-dark};
    --lilpa-color-on-tertiary-container: #{$lilpa-color-on-tertiary-container-dark};
    --lilpa-color-error: #{$lilpa-color-error-dark};
    --lilpa-color-on-error: #{$lilpa-color-on-error-dark};
    --lilpa-color-error-container: #{$lilpa-color-error-container-dark};
    --lilpa-color-on-error-container: #{$lilpa-color-on-error-container-dark};
    --lilpa-color-outline: #{$lilpa-color-outline-dark};
    --lilpa-color-background: #{$lilpa-color-background-dark};
    --lilpa-color-on-background: #{$lilpa-color-on-background-dark};
    --lilpa-color-surface: #{$lilpa-color-surface-dark};
    --lilpa-color-on-surface: #{$lilpa-color-on-surface-dark};
    --lilpa-color-surface-variant: #{$lilpa-color-surface-variant-dark};
    --lilpa-color-on-surface-variant: #{$lilpa-color-on-surface-variant-dark};
    --lilpa-color-inverse-surface: #{$lilpa-color-inverse-surface-dark};
    --lilpa-color-inverse-on-surface: #{$lilpa-color-inverse-on-surface-dark};
  }

  --lilpa-color-primary: #{$lilpa-color-primary-light};
  --lilpa-color-on-primary: #{$lilpa-color-on-primary-light};
  --lilpa-color-primary-container: #{$lilpa-color-primary-container-light};
  --lilpa-color-on-primary-container: #{$lilpa-color-on-primary-container-light};
  --lilpa-color-secondary: #{$lilpa-color-secondary-light};
  --lilpa-color-on-secondary: #{$lilpa-color-on-secondary-light};
  --lilpa-color-secondary-container: #{$lilpa-color-secondary-container-light};
  --lilpa-color-on-secondary-container: #{$lilpa-color-on-secondary-container-light};
  --lilpa-color-tertiary: #{$lilpa-color-tertiary-light};
  --lilpa-color-on-tertiary: #{$lilpa-color-on-tertiary-light};
  --lilpa-color-tertiary-container: #{$lilpa-color-tertiary-container-light};
  --lilpa-color-on-tertiary-container: #{$lilpa-color-on-tertiary-container-light};
  --lilpa-color-error: #{$lilpa-color-error-light};
  --lilpa-color-on-error: #{$lilpa-color-on-error-light};
  --lilpa-color-error-container: #{$lilpa-color-error-container-light};
  --lilpa-color-on-error-container: #{$lilpa-color-on-error-container-light};
  --lilpa-color-outline: #{$lilpa-color-outline-light};
  --lilpa-color-background: #{$lilpa-color-background-light};
  --lilpa-color-on-background: #{$lilpa-color-on-background-light};
  --lilpa-color-surface: #{$lilpa-color-surface-light};
  --lilpa-color-on-surface: #{$lilpa-color-on-surface-light};
  --lilpa-color-surface-variant: #{$lilpa-color-surface-variant-light};
  --lilpa-color-on-surface-variant: #{$lilpa-color-on-surface-variant-light};
  --lilpa-color-inverse-surface: #{$lilpa-color-inverse-surface-light};
  --lilpa-color-inverse-on-surface: #{$lilpa-color-inverse-on-surface-light};

  &[data-dark-mode='true'] {
    --jururu-color-primary: #{$jururu-color-primary-dark};
    --jururu-color-on-primary: #{$jururu-color-on-primary-dark};
    --jururu-color-primary-container: #{$jururu-color-primary-container-dark};
    --jururu-color-on-primary-container: #{$jururu-color-on-primary-container-dark};
    --jururu-color-secondary: #{$jururu-color-secondary-dark};
    --jururu-color-on-secondary: #{$jururu-color-on-secondary-dark};
    --jururu-color-secondary-container: #{$jururu-color-secondary-container-dark};
    --jururu-color-on-secondary-container: #{$jururu-color-on-secondary-container-dark};
    --jururu-color-tertiary: #{$jururu-color-tertiary-dark};
    --jururu-color-on-tertiary: #{$jururu-color-on-tertiary-dark};
    --jururu-color-tertiary-container: #{$jururu-color-tertiary-container-dark};
    --jururu-color-on-tertiary-container: #{$jururu-color-on-tertiary-container-dark};
    --jururu-color-error: #{$jururu-color-error-dark};
    --jururu-color-on-error: #{$jururu-color-on-error-dark};
    --jururu-color-error-container: #{$jururu-color-error-container-dark};
    --jururu-color-on-error-container: #{$jururu-color-on-error-container-dark};
    --jururu-color-outline: #{$jururu-color-outline-dark};
    --jururu-color-background: #{$jururu-color-background-dark};
    --jururu-color-on-background: #{$jururu-color-on-background-dark};
    --jururu-color-surface: #{$jururu-color-surface-dark};
    --jururu-color-on-surface: #{$jururu-color-on-surface-dark};
    --jururu-color-surface-variant: #{$jururu-color-surface-variant-dark};
    --jururu-color-on-surface-variant: #{$jururu-color-on-surface-variant-dark};
    --jururu-color-inverse-surface: #{$jururu-color-inverse-surface-dark};
    --jururu-color-inverse-on-surface: #{$jururu-color-inverse-on-surface-dark};
  }

  --jururu-color-primary: #{$jururu-color-primary-light};
  --jururu-color-on-primary: #{$jururu-color-on-primary-light};
  --jururu-color-primary-container: #{$jururu-color-primary-container-light};
  --jururu-color-on-primary-container: #{$jururu-color-on-primary-container-light};
  --jururu-color-secondary: #{$jururu-color-secondary-light};
  --jururu-color-on-secondary: #{$jururu-color-on-secondary-light};
  --jururu-color-secondary-container: #{$jururu-color-secondary-container-light};
  --jururu-color-on-secondary-container: #{$jururu-color-on-secondary-container-light};
  --jururu-color-tertiary: #{$jururu-color-tertiary-light};
  --jururu-color-on-tertiary: #{$jururu-color-on-tertiary-light};
  --jururu-color-tertiary-container: #{$jururu-color-tertiary-container-light};
  --jururu-color-on-tertiary-container: #{$jururu-color-on-tertiary-container-light};
  --jururu-color-error: #{$jururu-color-error-light};
  --jururu-color-on-error: #{$jururu-color-on-error-light};
  --jururu-color-error-container: #{$jururu-color-error-container-light};
  --jururu-color-on-error-container: #{$jururu-color-on-error-container-light};
  --jururu-color-outline: #{$jururu-color-outline-light};
  --jururu-color-background: #{$jururu-color-background-light};
  --jururu-color-on-background: #{$jururu-color-on-background-light};
  --jururu-color-surface: #{$jururu-color-surface-light};
  --jururu-color-on-surface: #{$jururu-color-on-surface-light};
  --jururu-color-surface-variant: #{$jururu-color-surface-variant-light};
  --jururu-color-on-surface-variant: #{$jururu-color-on-surface-variant-light};
  --jururu-color-inverse-surface: #{$jururu-color-inverse-surface-light};
  --jururu-color-inverse-on-surface: #{$jururu-color-inverse-on-surface-light};

  &[data-dark-mode='true'] {
    --wakgood-color-primary: #{$wakgood-color-primary-dark};
    --wakgood-color-on-primary: #{$wakgood-color-on-primary-dark};
    --wakgood-color-primary-container: #{$wakgood-color-primary-container-dark};
    --wakgood-color-on-primary-container: #{$wakgood-color-on-primary-container-dark};
    --wakgood-color-secondary: #{$wakgood-color-secondary-dark};
    --wakgood-color-on-secondary: #{$wakgood-color-on-secondary-dark};
    --wakgood-color-secondary-container: #{$wakgood-color-secondary-container-dark};
    --wakgood-color-on-secondary-container: #{$wakgood-color-on-secondary-container-dark};
    --wakgood-color-tertiary: #{$wakgood-color-tertiary-dark};
    --wakgood-color-on-tertiary: #{$wakgood-color-on-tertiary-dark};
    --wakgood-color-tertiary-container: #{$wakgood-color-tertiary-container-dark};
    --wakgood-color-on-tertiary-container: #{$wakgood-color-on-tertiary-container-dark};
    --wakgood-color-error: #{$wakgood-color-error-dark};
    --wakgood-color-on-error: #{$wakgood-color-on-error-dark};
    --wakgood-color-error-container: #{$wakgood-color-error-container-dark};
    --wakgood-color-on-error-container: #{$wakgood-color-on-error-container-dark};
    --wakgood-color-outline: #{$wakgood-color-outline-dark};
    --wakgood-color-background: #{$wakgood-color-background-dark};
    --wakgood-color-on-background: #{$wakgood-color-on-background-dark};
    --wakgood-color-surface: #{$wakgood-color-surface-dark};
    --wakgood-color-on-surface: #{$wakgood-color-on-surface-dark};
    --wakgood-color-surface-variant: #{$wakgood-color-surface-variant-dark};
    --wakgood-color-on-surface-variant: #{$wakgood-color-on-surface-variant-dark};
    --wakgood-color-inverse-surface: #{$wakgood-color-inverse-surface-dark};
    --wakgood-color-inverse-on-surface: #{$wakgood-color-inverse-on-surface-dark};
  }

  --wakgood-color-primary: #{$wakgood-color-primary-light};
  --wakgood-color-on-primary: #{$wakgood-color-on-primary-light};
  --wakgood-color-primary-container: #{$wakgood-color-primary-container-light};
  --wakgood-color-on-primary-container: #{$wakgood-color-on-primary-container-light};
  --wakgood-color-secondary: #{$wakgood-color-secondary-light};
  --wakgood-color-on-secondary: #{$wakgood-color-on-secondary-light};
  --wakgood-color-secondary-container: #{$wakgood-color-secondary-container-light};
  --wakgood-color-on-secondary-container: #{$wakgood-color-on-secondary-container-light};
  --wakgood-color-tertiary: #{$wakgood-color-tertiary-light};
  --wakgood-color-on-tertiary: #{$wakgood-color-on-tertiary-light};
  --wakgood-color-tertiary-container: #{$wakgood-color-tertiary-container-light};
  --wakgood-color-on-tertiary-container: #{$wakgood-color-on-tertiary-container-light};
  --wakgood-color-error: #{$wakgood-color-error-light};
  --wakgood-color-on-error: #{$wakgood-color-on-error-light};
  --wakgood-color-error-container: #{$wakgood-color-error-container-light};
  --wakgood-color-on-error-container: #{$wakgood-color-on-error-container-light};
  --wakgood-color-outline: #{$wakgood-color-outline-light};
  --wakgood-color-background: #{$wakgood-color-background-light};
  --wakgood-color-on-background: #{$wakgood-color-on-background-light};
  --wakgood-color-surface: #{$wakgood-color-surface-light};
  --wakgood-color-on-surface: #{$wakgood-color-on-surface-light};
  --wakgood-color-surface-variant: #{$wakgood-color-surface-variant-light};
  --wakgood-color-on-surface-variant: #{$wakgood-color-on-surface-variant-light};
  --wakgood-color-inverse-surface: #{$wakgood-color-inverse-surface-light};
  --wakgood-color-inverse-on-surface: #{$wakgood-color-inverse-on-surface-light};

  &[data-dark-mode='true'] {
    --waktaverse-color-primary: #{$waktaverse-color-primary-dark};
    --waktaverse-color-on-primary: #{$waktaverse-color-on-primary-dark};
    --waktaverse-color-primary-container: #{$waktaverse-color-primary-container-dark};
    --waktaverse-color-on-primary-container: #{$waktaverse-color-on-primary-container-dark};
    --waktaverse-color-secondary: #{$waktaverse-color-secondary-dark};
    --waktaverse-color-on-secondary: #{$waktaverse-color-on-secondary-dark};
    --waktaverse-color-secondary-container: #{$waktaverse-color-secondary-container-dark};
    --waktaverse-color-on-secondary-container: #{$waktaverse-color-on-secondary-container-dark};
    --waktaverse-color-tertiary: #{$waktaverse-color-tertiary-dark};
    --waktaverse-color-on-tertiary: #{$waktaverse-color-on-tertiary-dark};
    --waktaverse-color-tertiary-container: #{$waktaverse-color-tertiary-container-dark};
    --waktaverse-color-on-tertiary-container: #{$waktaverse-color-on-tertiary-container-dark};
    --waktaverse-color-error: #{$waktaverse-color-error-dark};
    --waktaverse-color-on-error: #{$waktaverse-color-on-error-dark};
    --waktaverse-color-error-container: #{$waktaverse-color-error-container-dark};
    --waktaverse-color-on-error-container: #{$waktaverse-color-on-error-container-dark};
    --waktaverse-color-outline: #{$waktaverse-color-outline-dark};
    --waktaverse-color-background: #{$waktaverse-color-background-dark};
    --waktaverse-color-on-background: #{$waktaverse-color-on-background-dark};
    --waktaverse-color-surface: #{$waktaverse-color-surface-dark};
    --waktaverse-color-on-surface: #{$waktaverse-color-on-surface-dark};
    --waktaverse-color-surface-variant: #{$waktaverse-color-surface-variant-dark};
    --waktaverse-color-on-surface-variant: #{$waktaverse-color-on-surface-variant-dark};
    --waktaverse-color-inverse-surface: #{$waktaverse-color-inverse-surface-dark};
    --waktaverse-color-inverse-on-surface: #{$waktaverse-color-inverse-on-surface-dark};
  }

  --waktaverse-color-primary: #{$waktaverse-color-primary-light};
  --waktaverse-color-on-primary: #{$waktaverse-color-on-primary-light};
  --waktaverse-color-primary-container: #{$waktaverse-color-primary-container-light};
  --waktaverse-color-on-primary-container: #{$waktaverse-color-on-primary-container-light};
  --waktaverse-color-secondary: #{$waktaverse-color-secondary-light};
  --waktaverse-color-on-secondary: #{$waktaverse-color-on-secondary-light};
  --waktaverse-color-secondary-container: #{$waktaverse-color-secondary-container-light};
  --waktaverse-color-on-secondary-container: #{$waktaverse-color-on-secondary-container-light};
  --waktaverse-color-tertiary: #{$waktaverse-color-tertiary-light};
  --waktaverse-color-on-tertiary: #{$waktaverse-color-on-tertiary-light};
  --waktaverse-color-tertiary-container: #{$waktaverse-color-tertiary-container-light};
  --waktaverse-color-on-tertiary-container: #{$waktaverse-color-on-tertiary-container-light};
  --waktaverse-color-error: #{$waktaverse-color-error-light};
  --waktaverse-color-on-error: #{$waktaverse-color-on-error-light};
  --waktaverse-color-error-container: #{$waktaverse-color-error-container-light};
  --waktaverse-color-on-error-container: #{$waktaverse-color-on-error-container-light};
  --waktaverse-color-outline: #{$waktaverse-color-outline-light};
  --waktaverse-color-background: #{$waktaverse-color-background-light};
  --waktaverse-color-on-background: #{$waktaverse-color-on-background-light};
  --waktaverse-color-surface: #{$waktaverse-color-surface-light};
  --waktaverse-color-on-surface: #{$waktaverse-color-on-surface-light};
  --waktaverse-color-surface-variant: #{$waktaverse-color-surface-variant-light};
  --waktaverse-color-on-surface-variant: #{$waktaverse-color-on-surface-variant-light};
  --waktaverse-color-inverse-surface: #{$waktaverse-color-inverse-surface-light};
  --waktaverse-color-inverse-on-surface: #{$waktaverse-color-inverse-on-surface-light};
}
