@import './constants.scss';

.page {
  position: relative;
  margin-top: 120px;
  min-height: 95vh;
}

.contents {
  max-width: $page;
  width: 100%;

  @media screen and (max-width: $page) {
    width: 90%;
  }

  @media screen and (max-width: $mobile) {
    width: 90%;
  }

  &.overflowX {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    scrollbar-width: none;
  }

  margin-left: auto;
  margin-right: auto;
}

html[data-dark-mode='true'] {
  .footer {
    background-color: rgb(22, 28, 34);

    a {
      color: $dark-link-color;
    }
  }
}

.footer {
  bottom: 0;
  width: 100%;
  background: #f5f5f5;
  min-height: 350px;
  display: flex;
  margin-top: 20vh;

  .contents {
    max-width: $page;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: $page) {
      width: 90%;
    }

    @media screen and (max-width: $mobile) {
      width: 90%;
    }
  }

  .logo {
    opacity: 0.5;

    margin-top: 4em;
    margin-bottom: 2em;
  }

  a {
    color: $link-color;
  }

  line-height: 120%;

  .mute {
    font-size: 0.8em;
    opacity: 0.5;
  }

  .description {
    margin-top: 2em;
  }
}

.hidden {
  display: none;
}